.Footer {
  min-height: 352px;
  width: 100%;
  background-color: var(--color-secondary-dark-green);
  text-align: center;
  color: var(--color-primary-white);
  font-size: 15px;
  font-weight: 600;
  line-height: 25px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    height: 302px;

    .group {
      height: 73px;

      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;

      .logo {
        width: 96px;
        height: 24px;
        cursor: pointer;
      }

      .nav {
        list-style: none;
        font-family: inherit;
        font-weight: 600;
        width: 107px;
        text-decoration: none;

        display: flex;
        justify-content: space-between;

        li {
          cursor: pointer;

          a:link,
          a:visited {
            text-decoration: none;
            color: inherit;
          }
        }
      }
    }

    .details {
      color: var(--color-primary-white-transparent);
    }

    .images {
      display: flex;
      justify-content: space-between;

      width: 104px;
      margin-bottom: -15px;

      img {
        height: 24px;
        width: 24px;
      }
    }

    .copyright {
      color: var(--color-primary-white-transparent);
    }
  }
}

@media screen and (min-width: 768px) {
  .Footer {
    height: 271px;
    text-align: end;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

    .container {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(3, 1fr);

      height: 159px;
      width: 689px;

      .group {
        align-self: start;
        justify-self: start;

        .logo {
          align-self: start;
        }

        .nav {
          grid-column: 1 / 2;
        }
      }

      .details {
        grid-row: 1 / 2;
        grid-column: 2 / 3;
      }

      .images {
        align-self: start;
        grid-column: 1 / 2;
        grid-row: 3 / 4;
      }

      .copyright {
        grid-column: 2 / 3;
        grid-row: 3 / 4;
      }
    }
  }
}

@media screen and (min-width: 1440px) {
  .Footer {
    height: 196px;
    text-align: start;

    .container {
      grid-template-columns: 285px 445px 1fr;
      grid-template-rows: 100px;

      height: 100px;
      width: 1110px;

      .group {
        grid-column: 1 / 2;

        .logo {
          width: 160px;
          height: 40px;
          margin-bottom: 25px;
        }

        .nav {
          font-size: 18px;
          line-height: 28px;
          width: 140px;
          align-self: self-start;
        }
      }

      .images {
        grid-column: 3 / 4;
        grid-row: 1 / 2;
      }

      .copyright {
        grid-column: 3 / 4;
        grid-row: 1 / 2;
        align-self: end;
      }

      .images,
      .copyright {
        justify-self: self-end;
      }
    }
  }
}
