:root {
  /* colors */
  --color-primary-midnight-green: rgb(1, 78, 86);
  --color-primary-light-coral: rgb(246, 126, 126);
  --color-primary-white: rgb(255, 255, 255);
  --color-primary-white-transparent: rgba(255, 255, 255, 0.6);
  --color-primary-white-transparent-2: rgba(255, 255, 255, 0.8);

  --color-secondary-rapture-blue: rgb(121, 200, 199);
  --color-secondary-police-blue: rgb(44, 98, 105);
  --color-secondary-jungle-green: rgb(0, 64, 71);
  --color-secondary-sacramento-green: rgb(1, 47, 52);
  --color-secondary-dark-green: rgb(0, 37, 41);

  --color-backdrop: rgba(0, 0, 0, 0.5);
  --border-image: rgb(196, 255, 254) 2px solid;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  margin: 0;
  font-family: 'Livvic', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button:hover {
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  html {
    font-size: 16px;
  }
}
